body {
  margin: 0;
  background: linear-gradient(#0b3d91, #052a66);
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 15px;
}

.campo {
  position: relative;
  width: 320px;
  height: 420px;
  margin: 20px auto;
  background: linear-gradient(#2ecc71 70%, #27ae60);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
  overflow: hidden;
}

/* GOL */
.gol {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 240px;
  height: 130px;
  transform: translateX(-50%);
  border: 4px solid white;
  background: repeating-linear-gradient(
    45deg,
    rgba(255,255,255,0.1),
    rgba(255,255,255,0.1) 6px,
    transparent 6px,
    transparent 12px
  );
}

/* GOLEIRO BONECO */
.goleiro {
  position: absolute;
  bottom: 10px;
  left: 110px;
  width: 36px;
  height: 55px;
  background: #1abc9c;
  border-radius: 10px;
  transition: left 0.3s;
}

.goleiro::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 6px;
  width: 24px;
  height: 24px;
  background: #f1c27d;
  border-radius: 50%;
}

/* BOLA */
.bola {
  position: absolute;
  bottom: 35px;
  left: 50%;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: inset -3px -3px 0 #ccc;
  transition: transform 0.7s ease-out;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 15px;
  width: 80%;
  max-width: 300px;
}
