body {
  background: #0b3d91;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.campo {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 30px auto;
  background: #2ecc71;
  border-radius: 10px;
  overflow: hidden;
}

/* GOL */
.gol {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 220px;
  height: 120px;
  transform: translateX(-50%);
  border: 4px solid white;
}

/* GOLEIRO */
.goleiro {
  position: absolute;
  bottom: 10px;
  left: 80px;
  width: 40px;
  height: 60px;
  background: red;
  border-radius: 5px;
  transition: left 0.4s;
}

/* BOLA */
.bola {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 0.6s ease-out;
}

/* ANIMAÇÕES */
.chute-esq {
  transform: translate(-90px, -250px);
}

.chute-dir {
  transform: translate(90px, -250px);
}

.chute-centro {
  transform: translate(0, -250px);
}
